@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

/* Basic CSS of general objects */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #ff0000;
}

body{
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    font-size: 1rem; 
    color: whitesmoke; 
    min-height: 100%;
}

html{
    scroll-behavior: smooth;
}

#spacer{
    width: 100%;
    height: 3rem;
    color: red;
}

/* Header 1 CSS */


#navbar1{
    background-color: #77501e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%; 

    top: 0; 
    width: 100%;
    height: 3.5rem;
    transition: 0.4s;
}

#navbar1 li, a, h2{
    color: rgb(0, 0, 0);
}

#navbar1 li, a{
    text-decoration: none;
    font-size: 1.75rem;
    
}

.navlinks1 {
    list-style: none;
    margin-right: auto;
}

.navlinks1 li{
    display: inline-block;
    padding: 0px 2rem;
}

.navlinks1 li a{
    transition: all 0.3s ease 0s;
}

.navlinks1 li a:hover{
    color: #d5dacd;
    text-decoration: underline;
}

.checkbox1{
    display: none;
    cursor: pointer;
}

.burgerbox1 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    flex-direction: column;

    width: 40px; 
    height: 6px; 
    background-color: whitesmoke;
    margin: 5px 0;
    transition: 0.4s;
}

.logo1{
    cursor:pointer; 
    margin-left: auto;
    font-size: 1.75rem;
}

@media screen and (max-width: 845px) {
    
    #navbar1{
        transition: 0.2s;
        position: normal;
    }

    .checkbox1{
        display: contents;
    }

    .navlinks1{
        display: none;
    }

}

/* Header 2 CSS */

#navbar2{
    background-color: #105c36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%; 

    top: 0; 
    width: 100%;
    height: 3.5rem;
    transition: 0.4s;
}

#navbar2 a{
    text-decoration: none;
}

.logo2{
    margin-right: auto;
    margin-top: .75rem;
}

.checkbox2{
    cursor: pointer;
    margin-left: auto;
}

.burgerbox2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    flex-direction: column;

    width: 40px; 
    height: 6px; 
    background-color: whitesmoke;
    margin: 5px 0;
    transition: 0.4s;
}

/* Header 3 CSS */

#navbar3{
    background-color: #ca5234;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%; 

    top: 0; 
    width: 100%;
    height: 3.5rem;
    transition: 0.4s;
}

.checkbox3{
    display: none;
}

.navlinks3{
    margin-left: auto;
}

.logo3{
    margin-right: auto;
    margin-top: .75rem;
}

.navlinks3 {
    list-style: none;
    margin-left: auto;
}

.navlinks3 li{
    display: inline-block;
    padding: 0px 2rem;
}

.navlinks3 li a{
    transition: all 0.3s ease 0s;
}

.navlinks3 li a:hover{
    color: #d5dacd;
    text-decoration: underline;
}

@media screen and (max-width: 875px) {
    
    #navbar3{
        transition: 0.2s;
        position: normal;
    }

    .checkbox3{
        display: contents;
    }

    .navlinks3{
        display: none;
    }

}

/* Header 4 CSS */

#navbar4{
    background-color: #5d9c7d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%; 

    top: 0; 
    width: 100%;
    height: 3.5rem;
    transition: 0.4s;
}

#navbar4 a{
    text-decoration: none;
}

.logo4{
    margin-left: auto;
    margin-top: .75rem;
    margin-bottom: 0;
}

.checkbox4{
    cursor: pointer;
    margin-right: auto;
}

.burgerbox4 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    flex-direction: column;

    width: 40px; 
    height: 6px; 
    background-color: whitesmoke;
    margin: 5px 0;
    transition: 0.4s;
}

/* Header 5 CSS */

#navbar5{
    background-color: #7c7ed3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%; 

    top: 0; 
    width: 100%;
    height: 3.5rem;
    transition: 0.4s;
}

#navbar5 li, a, h2{
    color: rgb(0, 0, 0);
}

#navbar5 li, a{
    text-decoration: none;
    font-size: 1.75rem;
    
}

.boxes5 {
    list-style: none;
    display: flex; 
    flex-direction: row;
    align-self: flex-start;
}

.boxes5 li{
    display: inline-block;
    padding: 0px 2rem;
    transition: all 0.3s ease 0s;
}

.boxes5 li:active{
    background-color: red;
}

.box1{
    background-color: none;
}

.box2{
    background-color: none;
}

.box3{
    background-color: none;
}

/* Popup Burger Menu */

#menu{
    margin: 0; 
    padding: 0;
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
    background: #272735;
    z-index: 1;
    transition: 0.5s;

    display: none;
}

#menu ul {
    margin: 0;
    padding: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    list-style: none;

    display:flex;
    flex-direction: column;
}

#menu ul li a{
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;

    margin-bottom: 2rem;
}

#menu ul li a:hover{
    background: #FFFC85
}

#menu.active{
    left: 0;
    overflow: auto;
}

.exitMenu h1{
    color: whitesmoke;
    padding-left: 95%;
}

.exitMenu h1:hover{
    cursor: pointer;
}


